@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

body {
  background: #52657C;
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
}

.button {
  background: #7B7CD6;
  color: #FFF;
  border: none;
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  padding: 15px;
  border-radius: 95px;
  width: 120px;
  margin: 15px 12px auto auto;
  font-size: 1.15em;
}

.button:hover {
  cursor: pointer;
}

.actionButtons {
  text-align: center;
}