@import './variables.css';
@import './reset.css';
@import './appHeaderStyles.css';
@import './cardSnapShotStyles.css';
@import './mainStyles.css';
@import './mainHeaderStyles.css';
@import './progressStyles.css';
@import './sideStyles.css';

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons-Regular.eot');
  src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MaterialIcons-Regular.woff') format('woff'),
  url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
  url('../fonts/MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: var(--default-font-family);
  width: 100%;
  background: var(--main-background-color);
}

main {
  background: var(--main-background-color)
}

.material-icons {
  color: var(--main-background-color);
  font-family: var(--material-icons);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.button {
  border: none;
  font-family: var(--default-font-family);
  padding: 15px;
  border-radius: 95px;
  width: 120px;
  margin: 15px 12px auto auto;
  font-size: 1.15em;
}

.button:hover {
  cursor: pointer;
}

.primaryColor {
  background: var(--primary-button-color);
  color: var(--default-color);
}

.secondaryColor {
  background: var(--secondary-color);
}

.accentColor {
  background: var(--accent-color);
}

.defaultBackgroundColor {
  background: var(--default-color);
}

.defaultColor {
  color: var(--default-color);
}

.disable {
  background: #E2E6ED;
  color: #9DA9AF;
}

.disable:hover {
  cursor: not-allowed;
}

.actionButtons {
  text-align: center;
}

.appBar {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  z-index: 99;
  position: fixed;
  width: 100vw;
}
