@import './reset.css';

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  width: 100%;
}

.button {
  border: none;
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  padding: 15px;
  border-radius: 95px;
  width: 120px;
  margin: 15px 12px auto auto;
  font-size: 1.15em;
}

.button:hover {
  cursor: pointer;
}

.primaryColor {
  background: #7B7CD6;
  color: #FFF;
}

.secondaryColor {
  background: #52657C;
}

.accentColor {
  background: #47ACA3;
}

.defaultColor {
  background: #FFF;
}

.disable {
  background: #E2E6ED;
  color: #9DA9AF;
}

.disable:hover {
  cursor: not-allowed;
}

.actionButtons {
  text-align: center;
}

.appBar {
  min-height: 90px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.sideBar {
  width: 10%;
  height: 100vh;
}

.contentWrapper .mainContent, .contentWrapper .sideBar {
  display: inline-block;
  vertical-align: top;
}

.purple {
  min-height: 500px;
  background: purple;
}

.mainContent {
  composes: purple;
  width: 90%;
}